{% extends 'member/base_page.html' %}

{% block content %}
<div class="parent">


    <div class="mainchild">

        <div class="create_form" id="crebtn2">
            <h1>Add Relation</h1>

            <form method="post">

                {% csrf_token %}
                <div>
                    <input type="text" name="firstname" placeholder="First Name">
                </div>


                <div>
                    <input type="text" name="lastname" placeholder="Last Name">
                </div>


                <div>
                    <input type="submit" value="Save">

                </div>

            </form>

            <div>
                <button id="rmbtn1"><i class="fa-solid fa-xmark"></i></button>
            </div>


        </div>

        <div>
            {% if messages %}
            {% for msg in messages %}
            <h3 style="color:#14C38E;font-size:2.5em;text-align: center;">{{msg}}</h3>
            {% endfor %}
            {% else %}
            <div class="child">
                <a href="#" id="crebtn1">Create</a>
                <a href="{% url 'list_link' %}" class="my-3">View</a>
            </div>
            {% endif %}
        </div>



    </div>


</div>


<!-- js -->
{% load static %}
<script type="text/javascript" src="{% static 'js/event1.js' %}"></script>

{% if messages %}
<script>
    window.setTimeout(function () {
        location.href = "http://127.0.0.1:8000/relation/";
    }, 1500); // refresh/redirect after 5 seconds.
</script>
{% endif %}
{% endblock %}