{% extends "medstore/base.html" %}

{% block content %}

<div class="parent">

    <div class="child1" id="block1">

        {% if user.is_authenticated and user.is_staff %}
        <h2>Staff : {{ user.get_username }}</h2>
        <div class="sidebar">
            <a href="{% url 'home_link' %}">Home</a>
            <a href="{% url 'Add_link' %}">Add Medicine</a>
            <a href="{% url 'medlis_link' %}">Medicine List</a>
            <div>
                <a href="{% url 'logout_link' %}">Logout</a>
            </div>
            
            
        </div>
       
        {% elif  user.is_authenticated %}
        <h2>User : {{ user.get_username }}</h2>
        <div>
            <a href="{% url 'logout_link' %}">Logout</a>
        </div>
        {% endif %}


    </div>

    <div id="btn1" class="bars">
        <i class="fa-solid fa-bars"></i>
    </div>

    <div class="medet">
         
        <div class="listsec">
            <h1>Medicine Detail</h1>
            
            <div class="medet">
                {% if med %}
                <h3 class="my-3">Medicine Name : {{med.medic_name}}</h3>
                <h5 style="color:tomato;" class="my-3">Disease : {{med.disease.all | join:""}}</h5>
                <h5 class="my-3">Rs:{{med.medic_price}}/-</h5>
                {% if med.medic_choice %}

                <h5 class="my-3">Medicine Type : <span style="color:green;">{{ med.get_medic_choice_display }}</span></h5>
               
                {% else %}
                <h5 class="my-3">Medicine Type : None</h5>
                {% endif %}
               {% endif %}
            
            </div>
            
            
        </div>
        
    </div>




</div>

{% load static %}
<script type="text/javascript" src="{% static 'js/event1.js' %}"></script>
{% endblock %}