{% extends "medstore/base.html" %}

{% block content %}

<div class="parent">

   

 
    <div class="child2 regform">
        
        <h1 style="text-align:center;margin-bottom:8px;" >User Register</h2>
        
        <form action="" method="post">
            {% csrf_token %}
            {% if err %}
            <div>
                <p style="text-align:center;font-weight:700;color:tomato;">{{err}}</p>
            </div>
            {% endif %}
            <div>
                <input type="text" name="username" placeholder="Username">
            </div>

            

            <div>
                <input type="text" name="firstname" placeholder="Firstname">
            </div>

            <div>
                <input type="text" name="lastname" placeholder="Lastname">

            </div>

            <div>
                <input type="email" name="email" placeholder="Email">

            </div>

            <div>
                <input type="password" name="password" placeholder="Password">
            </div>


         
            <input type="submit" value="Login">
        </form>
    </div>




</div>
{% load static %}
<script type="text/javascript" src="{% static 'js/event1.js' %}"></script>

{% endblock %}